<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/components/styles.css">
    <title>Platzi-Video</title>
</head>
<body>
    <header class="header">
        <a href="/components/main.html">
            <img class="header__img" src="/assets/logo-platzi-video-BW2.png" alt="Logo de Platzi-Video">
        </a>
    </header>
    <section class="error">
        <div class="wrap">
            <div class="box">
                <div class="text animated pulse">
                    404
                </div>
            </div>
        </div>
        <p class="error__info">
            Página no encontrada
        </p>
    </section>
    <footer class="footer">
        <a href="">
            Términos de uso
        </a>
        <a href="">
            Declaración de privacidad
        </a>
        <a href="">
            Centro de ayuda
        </a>
    </footer>
</body>
</html>